@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap');

body {
  font-family: 'BioRhyme', serif;
  padding-top: 2em;
}
button {
  padding: 1em;
  font-family: 'BioRhyme', serif;
  width: 8em;
  font-size: 1em;
}

h1, h3 {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2em;
  max-width: 90%;
  margin: auto;
  padding-top: 1em;
}

.results {
  display: flex;
  justify-content: center;
  padding: 1em;
  padding-bottom: 1.7em;
}

.resetbutton {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.score {
  display: flex;
  justify-content: center;
  padding: 1em;
  gap: 2em;

}

.scoreword {
  display: flex;
  justify-content: center;
  padding: 1em;
  padding-top: 2em;
  font-weight: bolder;
}
